.task {
  margin: 100px auto;
  padding: 100px;
  border: 1px solid black;
  width: 1200px;
}

.task__heading {
  text-align: justify;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 200px;
  border: 1px solid black;
}

#_parent {
  text-align: center;
}

#_timer {
  font-size: 15px;
}

#_textOfPredict {
  font-size: 30px;
}

.buttonOn {
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
}

.buttonOff {
  display: none;
}
