.task {
  margin: 100px auto;
  padding: 100px;
  border: 1px solid black;
  width: 1200px;
}

#_parent {
  text-align: center;
}

#_timer {
  font-size: 18px;
}

#_text {
  font-size: 17px;
  font-style: italic;
}

.buttonOn {
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
}

.buttonOff {
  display: none;
}
