.content {
  border: 1px solid black;
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.content__header {
  border: 1px solid black;
  font-size: 40px;
}

.predictions {
  border: 1px solid black;
  text-align: center;
}

.predictions__hint {
  font-size: 20px;
}

.predictions__timer {
  font-size: 30px;
}

.predictions__text {
  font-size: 30px;
}

.predictions__button {
  width: 200px;
  height: 70px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
}

.predictions__button_off {
  display: none;
}

.predictions__button:hover {
  background-color: floralwhite;
}
